<h1>Імпорт контактних даних здобувачів освіти з CSV-файлу Applications (через експорт з ЄДЕБО)</h1>
<p><strong>Увага!</strong> Перед імпортом переконайтеся, що CSV-файл має кодування UTF-8</p>
<%= form_with do |f| %>
  <%= f.label "Виберіть текстовий файл .csv для імпорту:" %>
  <%= f.file_field :txt_file %>
  <%= f.submit "Імпортувати файл" %>
<% end %>
