<h5>Івано-Франківський національний технічний університет нафти і газу</h5>
<h1>Генератор email-адрес для здобувачів освіти</h1>
<br>

<p class="main-menu">
  <%= link_to "Імпорт email-адрес, наявних у Gmail (вкладка Users)", new_import_emails_path %>
</p>
<p class="main-menu">
  <%= link_to "Імпорт даних про здобувачів освіти з ЄДЕБО", new_import_students_path %>
</p>
<p class="main-menu">
  <%= link_to "Імпорт контактних даних здобувачів освіти зі вступної кампанії ЄДЕБО", new_import_applications_path %>
</p>
<p class="main-menu">
  <%= link_to "Створення таблиці з новими email-адресами для реєстрації в Gmail", create_new_emails_table_path %>
</p>

