.notice {
    background: lightskyblue;
    border-radius: 0.5em;
    border: none;
    color: darkgreen;
    font-weight: bold;
    padding: 1px 1px;
    margin: 5px 25% 3px 25%;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: sans-serif;
}

.main-menu {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 120%;
}

strong {
    font-family: sans-serif;
    font-size: 120%;
    color: blue;
}