<h1>Імпорт email-адрес із CSV-файлу User_Download</h1>

<p><strong>Увага!</strong> Перед імпортом переконайтеся, що CSV-файл має кодування UTF-8</p>
<%= form_with do |f| %>
  <%= f.label "Виберіть текстовий файл .csv для імпорту:" %>
  <%= f.file_field :txt_file %>
  <%= f.submit "Імпортувати файл" %>
<% end %>

