<h1>Імпорт email-адрес із TSV-файлу Users</h1>

<p><strong>Увага!</strong> Перед імпортом переконайтеся, що TSV-файл має кодування UTF-8</p>
<%= form_with do |f| %>
  <%= f.label "Виберіть текстовий файл .tsv для імпорту:" %>
  <%= f.file_field :txt_file %>
  <%= f.submit "Імпортувати файл" %>
<% end %>

